form{
    background-color: antiquewhite;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    display: block;
    margin: auto;
}
.new-expense_controls{
    background-color: aqua;
    width: 300px;
    padding-left: 50px;
    margin-left: 45%;
    padding-top: 10px;


}
label{
    display: flex;
    gap: 15px;
}
input{
    max-width: 400px;
    height: 40px;
    text-align:start;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
}
button{
    width: 100px;
    height: 30px;
    margin-top: 10px;

}